.container__header{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.wrap__header{
  width: 100%;
}

.header__content{
  box-sizing: border-box;
  width: 100%;
  padding: 0 0 56px 0;
  background-color:  #F6F6F6;
  display: block;
}

.header__title{
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #333333;
  padding: 56px 0 0 0;
}

.input__search{
  display: flex;
  margin: 24px auto 0 auto;
  outline: none;
  padding: 8px;
  border: 1px solid #CA8F48;
  border-radius: 10px;
}

.container__cardmovies{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 24px;
}

.wrap__cardmovies{
  width: 25%;
  padding: 0;
  margin: 0 0 24px 0;
}

.cardmovies__content{
  box-sizing: border-box;
  width: 100%;
  padding: 0;
  display: block;
}

.poster{
  display: block;
  margin: 0 auto;
  max-width: 240px;
}

.cardmovies__name{
  padding: 10px 0 0 0;
  text-align: center;
}

.cardmovies__detail{
  display: block;
  width: 151px;
  text-align: center;
  align-items: center;
  margin: 8px auto 0 auto;
  padding: 12px;
  border: 1px solid #CA8F48;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #CA8F48;
}

.cardmovies_title{
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.cardmovies_year{
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width:320px) and (max-width:992px) {
  .wrap__cardmovies{
    width: 33.33%;
    padding: 0;
    margin: 0 0 24px 0;
  }

  .poster{
    max-width: 150px;
  }

  .cardmovies__name{
    padding: 10px 0 0 0;
    margin: 0 auto;
    text-align: center;
  }
  
  .cardmovies__detail{
    display: block;
    width: 151px;
    text-align: center;
    align-items: center;
    margin: 8px auto 0 auto;
    padding: 12px;
    border: 1px solid #CA8F48;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #CA8F48;
  }
  
  .cardmovies_title{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }
  
  .cardmovies_year{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}